<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="home">
    <nav>
      <a href="/members" class="navTitle">Club 1000</a>
      <div class="options">
        <a href="/members/log-in" class="logIn">Log in</a>
        <strong>or</strong>
        <a href="/members/sign-up" class="signUp">Sign up</a>
      </div>
    </nav>
    <main>
      <h1><%= title %></h1>
      <p class="bando">1000% bro</p>
    </main>
  </body>
</html>
