<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/members/log-in">Log in</a><strong>or</strong><a href="/members/sign-up">Sign up</a>
  </body>
</html>
