<!DOCTYPE html>
<html>
  <head>
    <title>All posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/members/log-out">Log out</a>
    <h1>Posts</h1>
    <p><%= msgs.title %></p>
    <p><%= msgs.text %></p>
    <p><%= msgs.sender %></p>
    <p><%= msgs.time %></p>
  </body>
</html>