<!DOCTYPE html>
<html>
  <head>
    <title>All posts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="mainContainer">
    <nav class="mainNav">
      <a href="/members/home" class="homeLink">Club 1000</a>
      <div class="mainOptions">
        <a href="/members/log-out" class="logOut">Log out</a>
        <% if(!user){ %>
        <a href="/members/join" class="join">Join club!</a>
        <% }; %>
      </div>
    </nav>
    <main class="mainHome">
    <a href="/members/create" class="add">Create post</a>
    <% msgs.map(function(msg) { %>
      <ul class="msgs">
        <li class="title"><%= msg.title %></li>
        <li class="text"><%= msg.text %></li>
        <% if(user){ %>
          <div class="snt">
            <li class="time"><%= msg.time %></li>
            <li class="sender"><%= msg.sender.first_name %></li>
          </div>
          
        <% } else { %>
          <div class="snt">
            <li class="hidden">HIDDEN</li>
            <li class="hidden">HIDDEN</LI>
          </div>
        <% } %>
      </ul>
    <% }); %>
    </main>
  </body>
</html>
