<!DOCTYPE html>
<html>
  <head>
    <title>All posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/members/log-out">Log out</a>
    <% if(!user){ %>
      <a href="/members/join">Join</a>
    <% }; %>
    <h1>Posts</h1>
    <% msgs.map(function(msg) { %>
      <ul>
        <li><%= msg.title %></li>
        <li><%= msg.text %></li>
        <% if(user){ %>
          <li><%= msg.time %></li>
          <li><%= msg.sender.first_name %></li>
        <% } else { %>
          <li>HIDDEN</li>
          <li>HIDDEN</LI>
        <% } %>
      </ul>
    <% }); %>
    
    <a href="/members/create">Add post</a>
  </body>
</html>